/* barra inicial */
.navbar{
    padding: 10px;
    background-color: #fff;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    color: #5c3a72;
    font-family: 'Quicksand', sans-serif;
}

/* seccion presentacion */
.hero{
    background-color:  #fff;
    min-height: 450px;
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    place-content: center;
}

.photo-principal-sofi{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.hero-inferior-img{
    height: 300px;
    width: 200px;
    object-fit: cover;
}

/* clases generales */
.section-dark{
    background-color: #5c3a72;
}

.section-light{
    background-color: aliceblue;
}

.section-text{
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    color: aliceblue;
}

.section-description{
    color: #000;
    font-size: 1.2rem;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    color: #5c3a72;
    text-align: center;
    padding: 15px 0;
}

h2{
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    padding: 15px 0;
}

h3{
    font-size: 2.5rem;
    font-family: 'Salsa', 'cursive';
    font-weight: bold;
    color: #50226f;
    text-align: center;
    padding: 15px 0;
}

.text-dark{
    color: #50226f;
}

.text-lightme{
    color: #ffde59;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

.p-dark{
    color: #50226f;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.p-light{
    color: #f0f8ff;
    padding: 20px;
}

.p-pink {
    color: #ef36b5 !important;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1.5rem !important;
}

/* seccion mi historia */
.mi-historia{
    min-height: 600px;
    padding: 10%;
}

.mi-historia .container{
    max-width: 100%;
    text-align: center;
}


/* seccion mi familia */
.familia{
    padding: 40px 40px 60px 40px;
}

.familia i{
    font-size: 2.5rem;
    color: #fe88f7;
    padding:  8px 19px;
}

.familia .column{
    padding: 20px;
    border: 1px solid #ba99cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.familia .column:hover{
    color: #50226f;
    background-color: #ffde59;
}

/* sectioneventos */
.eventos{
    width: 100%;
    padding: 80px 0;
    max-height: 1000px;
    align-items: center;
}

.eventos img{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: block;
    transition: all 0.2s ease;
    object-fit: cover;
}

.eventos-container{
    padding-top: 30px;
    margin-bottom:30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px ;
}
.event-wrapper{
    justify-content: center;
    display: flex;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform:  translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    color: #f0f8ff;
    font-family: 'Amatic SC', sans-serif;
}

.evento{
    position: relative;
    max-width: 600px;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

.evento:hover img{
    opacity: 0.2;
}

.evento:hover .overlay{
    opacity: 0.8;
}

.overlay .icons-container{
    display: flex;
}

.overlay i{
    color: #ef36b5;
    font-size: 60px;
    margin: 10px;
}

.icons-container{
    align-items: center;
    justify-content: center;
}

/* terapias */
.terapias{
    padding: 40px 40px 60px 40px;
    align-items: center;
}

.terapias .carousel{
    max-width: 800px;
}
.carousel-item{
    height: 600px;
}

/* contacto */
.contact .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contact .rectangle{
    margin-top: -5rem;
    background-color: rgb(205, 240, 205);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contact .row{
    width: 100%;
    display: flex;
    align-items:center;
}

.contact button{
    color: #ffde59;
    font-weight: bold;
    background-color: #ba99cd;
    border: 2px solid #50226f;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    transition: all 0.2s ease-in-out;
}

.contact button:hover{
    background-color: #ffde59;
    color: #50226f;
    transition: all 0.2s ease-in-out;
}

.contact button i{
    color: #50226f;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
/* footer */
.footer{
    min-height: 250px;
    padding: 20px;
}

.footer-logo{
    height: 5%;
    width: 5%;
    margin: 10px;
}

.footer-text{
    font-size: 1.5rem;
    padding: 20px;
    font-family: 'Quicksand';
    margin-bottom: 5px;
}
.icons-social{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #cdf0cd;
    border-radius: 50%;
    background-color: #ffde59;
    transition: all 0.2 ease-in;
}

.icons-social:hover{
    background-color: #ba99cd;
}

.icons-social i{
    color: #50226f;
    transition: all 0.2 ease-in;
}


/* 
@media screen and (min-width: 767px){
    .contact .container{
        max-width: 750px;
    }
    .eventos{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 991px){
    .contact .container{
        max-width: 950px;
    }
}

@media screen and (min-width: 1199px){
    .contact .container{
        max-width: 1150px;
    }
} */

/* @media screen and (min-width: 375px){
    .mi-historia{
        height: 5000px;
    }

    .mi-historia .container{
        min-width: 90%;
    }
} */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    .carousel-item{
        max-height: 300px;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-img{
        max-width: 600px;
    }
}

